html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.pozadina{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

/** {
    outline: 1px solid red;
}*/

/*--------------------------------------------*/

button, input, p{
    font-family: Inconsolata;
}

.div1{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
    z-index: 1000;
    
}

.logo{
    margin-left: 30px;
    height: 83px;
    border-radius: 45px;
    box-shadow: 0px 0px 10px rgba(117, 37, 15, 0.961);
    transition: transform 0.4s, box-shadow 0.4s;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
}

.logo:active{
    box-shadow:  
    5px 5px 10px rgba(0, 0, 0, 0.2),  /* Desno dole crna */  
   -5px -5px 10px rgba(0, 0, 0, 0.2), /* Lijevo gore crna */  
    5px -5px 10px rgba(0, 0, 0, 0.2), /* Desno gore crna */  
   -5px 5px 10px rgba(0, 0, 0, 0.2),  /* Lijevo dole crna */  
    0px 0px 15px rgba(255, 255, 255, 0.8);  /* Bijela sjajna senka */
}

/*.wallify{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 50px;
    cursor: pointer;
    margin-top: 10px;
    transition: color 0.6s ease-in-out;
}

.wallify:hover{
    color: rgba(4, 2, 28, 0.5);
}*/

.pozicija0{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.pozicija1{
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.home, .phone, .desktop, .contact, .about{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.4s;
}

.home:hover{
    color: rgba(117, 37, 15, 0.961);
}

.phone:hover{
    color: rgba(117, 37, 15, 0.961);
}

.desktop:hover{
    color: rgba(117, 37, 15, 0.961);
}

.contact:hover{
    color: rgba(117, 37, 15, 0.961);
}

.about:hover{
    color: rgba(117, 37, 15, 0.961);
}

.search{
    outline: none;
    max-width: 250px;
    min-width: 80px;
    width: 100%;
    height: 37px;
    border: none;
    background-color: transparent;
    border-color: white;
    border-radius: 18px;
    padding-left: 10px;
    font-size: 20px;
    color:white;
    transition: box-shadow 0.4s;
}

.search:hover{
    box-shadow:  
    5px 5px 10px rgba(0, 0, 0, 0.2),  /* Desno dole crna */  
   -5px -5px 10px rgba(0, 0, 0, 0.2), /* Lijevo gore crna */  
    5px -5px 10px rgba(0, 0, 0, 0.2), /* Desno gore crna */  
   -5px 5px 10px rgba(0, 0, 0, 0.2),  /* Lijevo dole crna */  
    0px 0px 15px rgba(255, 255, 255, 0.8);  /* Bijela sjajna senka */
}

input::placeholder{
    color: white;
    font-size: 20px;
    border-color: white;
}

@media(max-width:730px){
    .div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pozicija0{
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .pozicija1{
        margin-right: 40px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .home, .phone, .desktop, .contact, .about{
        font-size: 20px;
    }

    input::placeholder{
        font-size: 20px;
    }

}

@media(max-width:680px){
    .div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pozicija0{
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .pozicija1{
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .home, .phone, .desktop, .contact, .about{
        font-size: 20px;
    }

    input::placeholder{
        font-size: 20px;
    }

    .logo{
        margin-left: 13px;
    }
}

@media(max-width:650px){
    .div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pozicija0{
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .pozicija1{
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .home, .phone, .desktop, .contact, .about{
        font-size: 20px;
    }

    input::placeholder{
        font-size: 20px;
    }

    .logo{
        margin-left: 13px;
    }

    .search{
        max-width: 30px;
    }
}

@media(max-width:630px){
    .div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pozicija0{
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .pozicija1{
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
    }

    .home, .phone, .desktop, .contact, .about{
        font-size: 18px;
    }

    input::placeholder{
        font-size: 18px;
    }

    .logo{
        margin-left: 13px;
    }

    .search{
        max-width: 60px;
    }
}

@media(max-width:570px){
    .div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pozicija0{
        margin-right: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .pozicija1{
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }

    .home, .phone, .desktop, .contact, .about{
        font-size: 15px;
    }

    input::placeholder{
        font-size: 15px;
    }

    .logo{
        margin-left: 13px;
    }

    .search{
        max-width: 60px;
        padding-bottom: 2.62px;
    }
}

/*--------------------------------------------*/

.div2{
    margin-top: 100px;
    width: 100%;
    height: 630px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.pozicija-slike{
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.likovi{
    height: 80%;
    align-self: center;
    border-radius: 250px;
    transition: box-shadow 0.4s;
}

.likovi:hover{
    box-shadow: 0px 0px 10px rgba(117, 37, 15, 0.961);
}

.pozicija-opisa{
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-opis{
    color: white;
    width: 90%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    transition: color 0.4s;
}

.w-opis:hover{
    color: rgba(117, 37, 15, 0.961);
}

.d1, .d2, .d3{
    color: white;
    width: 80%;
    font-size: 25px;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

@media(max-width:1200px){
    .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 350px;
    }

    .likovi{
        max-height: 550px;
        align-self: center;
    }

    .pozicija-opisa{
        background-color: black;
        width: 100%;
        padding-bottom: 50px;
    }
}

@media(max-width:950px){
    .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 350px;
    }

    .likovi{
        max-height: 550px;
        align-self: center;
    }

    .pozicija-opisa{
        background-color: black;
        width: 100%;
        padding-bottom: 50px;
    }
}


@media(max-width:900px){
    .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 380px;
    }

    .likovi{
        max-height: 550px;
        align-self: center;
    }

    .pozicija-opisa{
        background-color: black;
        width: 100%;
        padding-bottom: 50px;
    }
}

@media(max-width:860px){
    .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 500px;
    }

    .likovi{
        max-height: 550px;
        align-self: center;
    }

    .pozicija-opisa{
        background-color: black;
        width: 100%;
        padding-bottom: 50px;
    }
}

@media(max-width:700px){
    .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 580px;
    }

    .likovi{
        max-height: 550px;
        align-self: center;
    }

    .pozicija-opisa{
        background-color: black;
        width: 100%;
        padding-bottom: 50px;
    }
}

/*----------------------------------------*/

.div3, .div4{
    width: 100%;
    height: 700px;
    background-color: black;
}

.naslov-phone, .naziv-desktop{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example, .ex{
    font-size: 40px;
    text-align: center;
    margin: 0;
    font-family: Inconsolata;
    font-weight: bold;
    transition: color 0.4s;
}

.example:hover{
    color: rgba(117, 37, 15, 0.961);
}

.ex:hover{
    color: rgba(117, 37, 15, 0.961);
}

.red1, .red2, .red3, .red4{
    width: 100%;
    min-height: 300px;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.poz-slika1, .poz-slika2, .poz-slika3, .poz-slika4,
.poz-slika5, .poz-slika6, .poz-slika7, .poz-slika8,
.poz-slika11, .poz-slika22, .poz-slika33, .poz-slika44,
.poz-slika55, .poz-slika66, .poz-slika77, .poz-slika88{
    width: 350px;
    height: 250px;
    background-color: rgba(117, 37, 15, 0.961);
    flex-basis: 350px;
}

.slika1, .slika2, .slika3, .slika4,
.slika5, .slika6, .slika7, .slika8,
.slika11, .slika22, .slika33, .slika44,
.slika55, .slika66, .slika77, .slika88{
    height: 250px;
    width: 350px;
    cursor: pointer;
    transition: transform 0.4s;
}

.slika1:hover{
    transform: scale(1.1);
}

.slika2:hover{
    transform: scale(1.1);
}

.slika3:hover{
    transform: scale(1.1);
}

.slika4:hover{
    transform: scale(1.1);
}

.slika5:hover{
    transform: scale(1.1);
}

.slika6:hover{
    transform: scale(1.1);
}

.slika7:hover{
    transform: scale(1.1);
}

.slika8:hover{
    transform: scale(1.1);
}

.slika11:hover{
    transform: scale(1.1);
}

.slika22:hover{
    transform: scale(1.1);
}

.slika33:hover{
    transform: scale(1.1);
}

.slika44:hover{
    transform: scale(1.1);
}

.slika55:hover{
    transform: scale(1.1);
}

.slika66:hover{
    transform: scale(1.1);
}

.slika77:hover{
    transform: scale(1.1);
}

.slika88:hover{
    transform: scale(1.1);
}

/*------------------------------------------*/

@media(max-width:1300px){
    .div3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .naslov-phone{
        height: 100px;
    }

    .red1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 250px;
    }

    .red2{
        padding-top: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 250px;
        padding-top: 0;
    }
}


@media(max-width:740px){
    .div3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .naslov-phone{
        height: 100px;
    }

    .red1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 800px;
    }

    .red2{
        padding-top: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 800px;
        padding-top: 0;
    }
}

/*------------------------------------------*/

@media(max-width:1300px){
    .div4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .naziv-desktop{
        height: 100px;
        margin-top: 460px;
    }

    .red3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 250px;
    }

    .red4{
        padding-top: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 250px;
        padding-top: 0;
    }
}


@media(max-width:741.684px){
    .div4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .naziv-desktop{
        height: 100px;
        margin-top: 1590px;
    }

    .red3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 800px;
    }

    .red4{
        padding-top: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 800px;
        padding-top: 0;
    }
}

/*--------------------------------------*/

.div5{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poz-kontakt{
    width: 60%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find{
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: color 0.4s;
}

.find:hover{
    color:rgba(117, 37, 15, 0.961);
}

.poz-logo{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.instagram{
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.4s;
}

.pinterest{
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.4s;
}

.instagram:hover{
    transform: scale(1.1);
}

.pinterest:hover{
    transform: scale(1.1);
}

@media(max-width:1300px){
    .div5{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 920px;
    }
}

@media(max-width:741.684px){
    .div5{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3151px;
    }
}

@media(max-width:595.684px){
    .div5{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3191px;
    }
}

/*--------------------------------*/

.div6{
    width: 100%;
    height: 120px;
    background-color: rgba(117, 37, 15, 0.961);
    display: flex;
    justify-content: center;
    align-items: center;
}

.poz-rights{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c{
    color: white;
    font-size: 20px;

}

/*-------------------------------------------*/

.dugme{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poz-dugme{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.go-up{
    margin-right: 30px;
    height: 50px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s,
                transform 0.4s,
                color 0.4s,
                box-shadow 0.3s;
}

.go-up:hover{
    background-color: rgb(43, 38, 38);
    color: white;
    transform: scale(1.1);
}

.go-up:active{
    box-shadow:  
    5px 5px 10px rgba(0, 0, 0, 0.2),  /* Desno dole crna */  
   -5px -5px 10px rgba(0, 0, 0, 0.2), /* Lijevo gore crna */  
    5px -5px 10px rgba(0, 0, 0, 0.2), /* Desno gore crna */  
   -5px 5px 10px rgba(0, 0, 0, 0.2),  /* Lijevo dole crna */  
    0px 0px 15px rgba(255, 255, 255, 0.8);  /* Bijela sjajna senka */
}